body {
    background-color: #EDF6F9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}

h1 {
    color: #006D77;
}

h2 {
    color: #006D77;
}

p {
    color: #53928b;
}

ul {
    color:#53928b;
}

h4 {
    color: #006D77;
}

img {
  border: 4px solid #E29578;
            border-radius: 5px;
            margin: 10px;
}

table {
    background-color: #FFDDD2;
    color: #006D77;
    border-color: #E29578;
}

#nav {
    text-align: left;
}

#listitem {
    text-align: left;
}


